<div id="colors-wrapper" class="row">
<% @colors.each do |color| %>
	<div class="col-sm-6 col-md-2" >
		<button class="btn" data-clipboard-text="<%= color.color1 %>" style="background-color: <%= color.color1 %>"><%= color.color1 %></button><br>
		<button class="btn" data-clipboard-text="<%= color.color2 %>" style="background-color: <%= color.color2 %>"><%= color.color2 %></button><br>
		<button class="btn" data-clipboard-text="<%= color.color3 %>" style="background-color: <%= color.color3 %>"><%= color.color3 %></button>	
	</div>
<% end %>
</div>