<div class="col-sm-12" >
	<button class="btn" data-clipboard-text="<%= @color.color1 %>" style="background-color: <%= @color.color1 %>"><%= @color.color1 %></button><br>
	<button class="btn" data-clipboard-text="<%= @color.color2 %>" style="background-color: <%= @color.color2 %>"><%= @color.color2 %></button><br>
	<button class="btn" data-clipboard-text="<%= @color.color3 %>" style="background-color: <%= @color.color3 %>"><%= @color.color3 %></button>	
</div>

<%= link_to "Edit", edit_color_path(@color) %>
<%= link_to "Delete", color_path(@color), method: :delete, data: { confirm: "Are you sure you want to delete this cool color?"} %>