<div class="row">
  <div class="forms">
    <h2>Log in</h2>
    
    <div class="form-control">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %><br>
          <small class="text-muted">contato@wagnerrosa.com</small>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %><br>
          <small class="text-muted">coolors123</small>
        </div>

        <div class="actions">
          <%= f.submit "Log in", :class => 'btn btn-primary btn-lg btn-block' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
