<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
 	<title>Coolors</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag 'application', 'https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' %>

</head>
<body>
	<div class="container">

		<% if notice %>
		   <div class="advice"><p class="notice"><%= notice %></p></div>
		<% elsif notice %>
		   <div class="advice"><p class="alert"><%= alert %></p></div>
		<% end %>
		<%= render 'layouts/header' %>
		


		<main>
			
			<%= yield %>
		</main>
			
		<%= render 'layouts/footer' %>

	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.10/clipboard.min.js"></script>
	<script>
		var clipboard = new Clipboard('.btn');
		clipboard.on('success', function(e) {
		    console.log(e);
		});
		clipboard.on('error', function(e) {
		    console.log(e);
		});
	</script>
</body>
</html>
