<!DOCTYPE html>
<html>
<head>
  <title>Coolors</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', 'http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' %>

</head>
<body>
	<div class="container">

		<%= render 'layouts/header' %>
		
		<% if notice %>
		   <p class="notice"><%= notice %></p>
		<% elsif notice %>
		   <p class="alert"><%= alert %></p>
		<% end %>


		<main>
			
			<%= yield %>
		</main>
			
		<%= render 'layouts/footer' %>

	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.10/clipboard.min.js"></script>
	<script>
		var clipboard = new Clipboard('.btn');
		clipboard.on('success', function(e) {
		    console.log(e);
		});
		clipboard.on('error', function(e) {
		    console.log(e);
		});
	</script>
</body>
</html>
