<!DOCTYPE html>
<html>
<head>
  <title>Coolors</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">

		<%= render 'layouts/header' %>
		
		<% if notice %>
		   <p class="notice"><%= notice %></p>
		<% elsif notice %>
		   <p class="alert"><%= alert %></p>
		<% end %>


		<main>
			
			<%= yield %>
		</main>
			
		<%= render 'layouts/footer' %>

	</div>
</body>
</html>
